.titleGallery {
	// font-size: 1.5rem;
	font-weight: bold;
	color: var(--color-black);
	letter-spacing: 7px;
	margin: auto;
	margin-bottom: 3rem;
	text-align: center;
	padding: 0.6rem;
	width: 400px;
	border-bottom: 1px solid var(--color-secondary);
}

.renderImages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 5rem;
	padding: 0 20px;
	picture {
		img {
			box-shadow: 0px 14px 20px 0px #000;
			margin: 1rem;
			object-fit: fill;
		}
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 1rem;
}

@media (min-width: 300px) and (max-width: 950px) {
	.renderImages {
		margin: 0;
		padding: 0;
		picture {
			img {
				margin: 0 1rem;
			}
		}
	}
	.pictureImage {
		padding: 1rem 0;
	}
}
